<launch>
<node pkg="FogROS" name="rosduct" type="rosduct_main.py" output="screen">
    <rosparam>
    automatic_topic_scan: False
    rosbridge_ip: ROSBRIDGE_IP_HOLDER
    rosbridge_port: 9090
    # Topics being published in the robot to expose locally
    remote_topics: [
                        ['/gqcnn/camera_info', 'sensor_msgs/CameraInfo'],
                        ['/gqcnn/image', 'sensor_msgs/Image'],
                        ['/gqcnn/mask', 'sensor_msgs/Image']
                   ]
    # Topics being published in the local roscore to expose remotely
    local_topics: [
                       ['/gqcnn/grasp', 'gqcnn_ros/GQCNNGrasp']
                  ]
    </rosparam>
  </node>

</launch>
